@config "../tailwind.config.mjs";
@import "tailwindcss";

@utility flex-col-center {
    @apply flex flex-col items-center justify-center;
}

@utility flex-row-center {
    @apply flex items-center justify-center;
}

@layer components {

    .card-sign {
        @apply w-full p-4 bg-white shadow-2xl max-w-110 md:p-6 rounded-3xl backdrop-blur-sm;
    }
      
    .custom-form {
        @apply flex flex-col justify-evenly gap-0;
    }

    .title {
        @apply mb-3 text-2xl font-bold md:text-3xl;
    }

    .sub-title {
        @apply text-[1rem] md:text-[1.2rem] text-slate-700;
    }

    .input-span {
        @apply block text-[1.1rem];
    }

    .input-box {
        @apply w-full border-2 border-white bg-gray-100 rounded-sm px-4 py-1.5 
        text-[1rem] text-gray-900
        outline-white focus:outline-blue-200 transition duration-150;
    }

    .input-checkbox {
        @apply h-3.5 w-3.5 accent-blue-600 outline-0 
        focus-visible:ring-2
        focus-visible:ring-blue-500
        focus-visible:ring-offset-1
        cursor-pointer;
    }

    .input-error {
        @apply border-2 border-red-400;
    }

    .sign-p {
        @apply text-center text-[1rem] mb-1 mt-2; 
    }

    .sign-p-link {
        @apply ml-2 text-blue-400 transition duration-150 rounded focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 active:text-blue-800 hover:underline;
    }

    .error-message {
        @apply text-red-500 text-[0.75rem] min-h-1 mt-1;
    }

    .note {
        @apply text-gray-500 text-[0.75rem] min-h-1 mt-1;
    }

    .btn {
        @apply rounded-2xl bg-primary font-bold px-4 py-2 cursor-pointer text-white
        text-center text-[1.1rem] 
        hover:ring-2 hover:ring-blue-900 hover:scale-103 transition duration-200;
    }

    .btn.disabled {
        @apply opacity-50 hover:scale-100 hover:ring-0 cursor-auto;
    }

    .nav-link.hover-underline {
        @apply text-[1.2rem] after:bg-blue-700;
    }

    .hover-underline {
        @apply relative inline-block pb-1
        after:content-[''] after:absolute
        after:left-1/2 after:-translate-x-1/2
        after:bottom-0
        after:h-0.75 after:w-0
        after:rounded
        after:bg-current
        after:transition-[width] after:duration-300 after:ease-out
        hover:after:w-[90%];
    }

    .icon-navbar {
        @apply text-gray-700 transition duration-150 cursor-pointer hover:text-blue-600;
    }

    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;     /* Firefox */
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;             /* Chrome, Safari */
    }
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,html {
    margin: 0;
    padding: 0;
}

button {
    cursor:pointer
}

/* placeholders */

::placeholder, ::-webkit-input-placeholder, ::-moz-placeholder, 
:-moz-placeholder, :-ms-input-placeholder, ::-ms-input-placeholder {
    @apply text-gray-500 opacity-100;
}