@import "tailwindcss";

@layer utilities {
    .page {
        @apply mt-15 h-screen text-center;
    }

    .page-sign {
        @apply flex flex-col justify-center items-center h-screen relative
            bg-linear-90 from-[#111b71] via-[#7b8eef] to-[#111b71];
    }

    .card-sign{
        @apply bg-white rounded-2xl shadow-2xl  absolute p-6 w-105 backdrop-blur-sm;
    }

    .custom-form {
        @apply flex flex-col justify-evenly gap-2;
    }

    .title {
        @apply text-2xl font-bold mb-3;
    }

    .input-span {
        @apply block ;
    }

    .input-box {
        @apply w-full bg-gray-100 rounded-sm h-8 p-2.5 text-[10px] focus:outline;
    }

    .iput-check {
        @apply inline text-[12px] text-center text-gray-700 mt-1 mr-1.5 ;
    }

    .sign-p {
        @apply text-center text-[12px] mb-2.5; 
    }

    .sign-p-link {
        @apply text-blue-400 ml-2;
    }

    .error {
        @apply text-red-500 text-[12px];
    }

    .btn-sign {
        @apply rounded-3xl bg-[#002CFF] font-bold w-25 cursor-pointer text-white p-2 
        text-center mx-auto text-[12px];
    }
}

body {
    font-family: Helvetica, sans-serif;
}

.title {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.unavailable {
    cursor: default;
}