@import "tailwindcss";

@layer utilities {
    .page {
        @apply flex justify-center items-center h-screen
    }

    .input-span {
        @apply mr-6
    }

    .error {
        @apply text-red-500
    }

    button {
        @apply w-32 h-10 bg-blue-500 text-white rounded-lg cursor-pointer
    }
}

body {
    font-family: Helvetica, sans-serif;
}

.unavailable {
    opacity: 0.5;
    cursor: default;
}